<!doctype html>
<html lang="en">
<head>
  <title>My Classical List - v0.1a</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="css/default.css" />
  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
<nav id="topnav" class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyCL</a>
    </div>
    <div id="navbar1" class="collapse navbar-collapse main-nav">
      <ul class="nav navbar-nav navbar-left">
        
        <li class="dropdown" role="presentation">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Composers
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="search.php?type=composers">Composer Search</a></li>
            <li><a href="reviews.php?type=composers">Reviews</a></li>
            <li><a href="recommendations.php?type=composers">Reccomendations</a></li>
            <li><a href="toplist.php?type=composers">Top Composers</a></li>
          </ul>
        </li>
        
        <li class="dropdown" role="presentation">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Works
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="search.php?type=works">Work Search</a></li>
            <li><a href="reviews.php?type=works">Reviews</a></li>
            <li><a href="recommendations.php?type=works">Reccomendations</a></li>
            <li><a href="toplist.php?type=works">Top Works</a></li>
          </ul>
        </li>
        
        <li class="dropdown" role="presentation">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Performances
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="search.php?type=performances">Performance Search</a></li>
            <li><a href="reviews.php?type=performances">Reviews</a></li>
            <li><a href="recommendations.php?type=performances">Reccomendations</a></li>
            <li><a href="toplist.php?type=performances">Top Performances</a></li>
          </ul>
        </li>
        
        <li class="dropdown" role="presentation">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Recordings
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="search.php?type=recordings">Recording Search</a></li>
            <li><a href="reviews.php?type=recordings">Reviews</a></li>
            <li><a href="recommendations.php?type=recordings">Reccomendations</a></li>
            <li><a href="toplist.php?type=recordings">Top Recordings</a></li>
          </ul>
        </li>
        
        <li class="dropdown" role="presentation">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Labels
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="search.php?type=labels">Label Search</a></li>
            <li><a href="reviews.php?type=labels">Reviews</a></li>
            <li><a href="recommendations.php?type=labels">Reccomendations</a></li>
            <li><a href="toplist.php?type=labels">Top Labels</a></li>
          </ul>
        </li>
        
        <li role="presentation">
          <a href="signup.php">Sign Up</a>
        </li>
        
        <li role="presentation">
          <a href="login.php">Login</a>
        </li>
      </ul>
      
      <form id="searchform" class="navbar-form navbar-right" action="search.php" method="post" role="search">
        <div class="form-group form-group-sm">
          <input id="searchtextbox" class="form-control" type="text" placeholder="Search" name="searchtextbox" />
          <select id="searchcat" class="form-control">
            <option value="composers">Composers</option>
            <option value="works">Works</option>
            <option value="performances">Performances</option>
            <option value="recordings">Recordings</option>
            <option value="labels">Labels</option>
            <option value="labels">Users</option>
          </select>
        </div>
        <div class="btn-group btn-group-sm">
          <button id="searchsubmit" class="btn btn-default" type="submit">Search</button>
        </div>
      </form>
      
    </div>
  </div>
</nav>

<div id="header" class="section">
  <div class="container">
    <h1><a href="default.html">My Classical List</a> <small>v0.1a</small></h1>
  </div>
</div>

<div id="subheader" class="">
  <div class="container">

      <ul class="nav nav-pills">
        <li class="nav-right">
          <a href="#">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
              Welcome to MyCL
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
          </a>
        </li>
        <li class="nav-right active"><a href="home.php">Home</a></li>
        <li class="nav-right"><a href="profile.php">Profile</a></li>
        <li class="nav-right"><a href="messages.php">Messages <span class="badge">0</span></a></li>
        <li class="nav-right"><a href="settings.php">Settings</a></li>
      </ul>

  </div>
</div>

<div id="main" class="container-fluid">

  <div class="row">
  
    <div id="mytoplist" class="col-sm-3 section">
      <div id="default_header"><h3>My Top Composers</h3></div>
      <ul class="list-group">
        <li class="list-group-item">
          <table class="ranking">
            <tr>
              <th rowspan="4">1</th>
              <td rowspan="4"><div class="col-xs-6 col-md-4">composer.jpg</div></td>
              <td><a href="composers/id/">Composer Name</a></td>
            </tr>
            <tr>
              <td>stuff 1</td>
            </tr>
            <tr>
              <td>stuff 2</td>
            </tr>
            <tr>
              <td>stuff 3</td>
            </tr>
          </table>
        </li>
        <li class="list-group-item">
          <table class="ranking">
            <tr>
              <th rowspan="4">2</th>
              <td rowspan="4"><div class="col-xs-6 col-md-4">composer.jpg</div></td>
              <td><a href="composers/id/">Composer Name</a></td>
            </tr>
            <tr>
              <td>stuff 1</td>
            </tr>
            <tr>
              <td>stuff 2</td>
            </tr>
            <tr>
              <td>stuff 3</td>
            </tr>
          </table>
        </li>
        <li class="list-group-item">
          <table class="ranking">
            <tr>
              <th rowspan="4">3</th>
              <td rowspan="4"><div class="col-xs-6 col-md-4">composer.jpg</div></td>
              <td><a href="composers/id/">Composer Name</a></td>
            </tr>
            <tr>
              <td>stuff 1</td>
            </tr>
            <tr>
              <td>stuff 2</td>
            </tr>
            <tr>
              <td>stuff 3</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

    <div id="myactivitylist" class="col-sm-6 section">
      <div id="default_header"><h3>My Most Recent Activity</h3></div>
      <ul class="list-group">
        <li class="list-group-item">
          <h3><a href="#">New Post...</a></h3>
        </li>
        <li class="list-group-item">
          <h3>Title goes here</h3>
          <p>3 wolf moon banh mi Bushwick mlkshk Wes Anderson. Cronut mumblecore flexitarian pug readymade banh mi. Wes Anderson Neutra Austin health goth twee four dollar toast normcore. Pour-over salvia seitan iPhone Schlitz, vegan before they sold out stumptown. Shabby chic direct trade Echo Park, Odd Future Helvetica Truffaut mlkshk mixtape listicle vegan meditation craft beer tattooed cardigan banh mi. Cred Neutra drinking vinegar, lomo trust fund locavore fap cardigan tattooed next level High Life freegan wolf direct trade. Banksy blog kitsch, mustache flannel American Apparel VHS put a bird on it Intelligentsia dreamcatcher cardigan.</p>
          <small>January 1st, 2015, 12:00 AM</small> by <a href="">Username</a> | <a href="">Comments (0)</a>
        </li>
        <li class="list-group-item">
          <h3>Title goes here</h3>
          <p>Gastropub 90's letterpress, sartorial Truffaut sriracha direct trade heirloom mixtape chambray. Distillery Odd Future migas Austin Pinterest, lo-fi tofu master cleanse 8-bit Kickstarter McSweeney's. Ugh post-ironic VHS butcher try-hard. Stumptown paleo craft beer, hoodie art party readymade skateboard synth banjo narwhal fashion axe street art Portland cliche next level. Lomo 3 wolf moon Wes Anderson, raw denim YOLO tousled mlkshk next level Vice you probably haven't heard of them paleo sustainable selvage shabby chic butcher. Austin next level locavore direct trade freegan pour-over. Brunch selfies kitsch pour-over.</p>
          <small>January 1st, 2015, 12:00 AM</small> by <a href="">Username</a> | <a href="">Comments (0)</a>
        </li>
        <li class="list-group-item">
          <h3><a href="#">Show More...</a></h3>
        </li>
      </ul>
    </div>
  
    <div id="myfriendslist" class="col-sm-3 section">
      <div id="default_header"><h3>My Friends</h3></div>
      <ul class="list-group">
        <li class="list-group-item">
          <h3><a href="">Friend 1</a></h3>
        </li>
        <li class="list-group-item">
          <h3><a href="">Friend 2</a></h3>
        </li>
      </ul>
    </div>
    
    <div id="myeditslist" class="col-sm-3 section">
      <div id="default_header"><h3>My Edits</h3></div>
      <ul class="list-group">
        <li class="list-group-item">
          <h3><a href="">Edit 1</a></h3>
        </li>
        <li class="list-group-item">
          <h3><a href="">Edit 2</a></h3>
        </li>
      </ul>
    </div>

    <div id="toplist" class="col-sm-3 section">
      <div id="default_header"><h3>Top Rated Composers</h3></div>
      <ul class="list-group">
        <li class="list-group-item">
          <table class="ranking">
            <tr>
              <th rowspan="4">1</th>
              <td rowspan="4"><div class="col-xs-6 col-md-4">composer.jpg</div></td>
              <td><a href="composers/id/">Composer Name</a></td>
            </tr>
            <tr>
              <td>stuff 1</td>
            </tr>
            <tr>
              <td>stuff 2</td>
            </tr>
            <tr>
              <td>stuff 3</td>
            </tr>
          </table>
        </li>
        <li class="list-group-item">
          <table class="ranking">
            <tr>
              <th rowspan="4">2</th>
              <td rowspan="4"><div class="col-xs-6 col-md-4">composer.jpg</div></td>
              <td><a href="composers/id/">Composer Name</a></td>
            </tr>
            <tr>
              <td>stuff 1</td>
            </tr>
            <tr>
              <td>stuff 2</td>
            </tr>
            <tr>
              <td>stuff 3</td>
            </tr>
          </table>
        </li>
        <li class="list-group-item">
          <table class="ranking">
            <tr>
              <th rowspan="4">3</th>
              <td rowspan="4"><div class="col-xs-6 col-md-4">composer.jpg</div></td>
              <td><a href="composers/id/">Composer Name</a></td>
            </tr>
            <tr>
              <td>stuff 1</td>
            </tr>
            <tr>
              <td>stuff 2</td>
            </tr>
            <tr>
              <td>stuff 3</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

    <div id="newsfeed" class="col-sm-6 section">
      <div id="default_header"><h3>Latest News</h3></div>
      <ul class="list-group">
        <li class="list-group-item">
          <h3>Title goes here</h3>
          <p>Flannel tousled narwhal sustainable selvage church-key. Swag vinyl roof party, 3 wolf moon blog Carles Intelligentsia. Mlkshk cornhole meggings High Life small batch Shoreditch, Odd Future roof party +1 ethical pour-over cray hella fanny pack photo booth. Pug Pinterest chambray, cornhole freegan keytar seitan taxidermy hoodie. Ennui master cleanse craft beer, Helvetica lumbersexual Kickstarter farm-to-table cronut pickled Bushwick bespoke cornhole. Cred Echo Park farm-to-table chambray, squid actually Thundercats semiotics wayfarers small batch sriracha direct trade fashion axe ethical. XOXO street art hella, stumptown fap organic ethical Portland.</p>
          <small>January 1st, 2015, 12:00 AM</small> by <a href="">Username</a> | <a href="">Comments (0)</a>
        </li>
        <li class="list-group-item">
          <h3>Title goes here</h3>
          <p>Banjo bicycle rights paleo, pickled hella Carles YOLO. Ugh Neutra lo-fi salvia. Sartorial +1 distillery mustache Thundercats, Brooklyn lomo High Life fanny pack Wes Anderson Williamsburg. Put a bird on it blog aesthetic meh umami organic. Small batch seitan taxidermy, beard listicle forage keffiyeh Odd Future before they sold out bespoke church-key raw denim. Thundercats aesthetic readymade, Shoreditch swag High Life Austin fashion axe. Pork belly Wes Anderson freegan semiotics kogi kale chips.</p>
          <small>January 1st, 2015, 12:00 AM</small> by <a href="">Username</a> | <a href="">Comments (0)</a>
        </li>
      </ul>
    </div>
    
  </div> <!-- end row -->
  
</div> <!-- end main -->

<div id="footer" class="container section">
My Classical List is an experimental site and has no affiliation with any existing list site.
</div>

</body>
</html>
