body {
    font-family: Tahoma, sans-serif;
}

.ranking th {
    font-size: xx-large;
}

.h2 {
    font-size: medium;
}

.h3 {
    font-size: small;
}

.navbar {
    padding: 0;
    margin: 0;
}

/* show all textarea rows */
#newposttext, #newcommenttext {
  height: 100%;
}

.section:nth-child(6n+0) { background-color: #cbcbab; /*CCA*/ }
.section:nth-child(6n+1) { background-color: #abcbcb; /*ACC*/ }
.section:nth-child(6n+2) { background-color: #abcbab; /*ACA*/ }
.section:nth-child(6n+3) { background-color: #cbabcb; /*CAC*/ }
.section:nth-child(6n+4) { background-color: #ababcb; /*AAC*/ }
.section:nth-child(6n+5) { background-color: #cbabab; /*CAA*/ }

#header {
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}

#header a:hover {
    text-decoration: none;
}

#subheader {
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}

#footer {
    width: 100%;
    text-align: center;
}
